.padding(@v: 4rem;) {
	padding: @v;
}
.padding-v(@v: 4rem;) {
	padding-top: @v;
	padding-bottom: @v;
}
.padding-h(@v: 4rem;) {
	padding-left: @v;
	padding-right: @v;
}
.padding-c(@t: 4rem; @b: 4rem; @l: 4rem; @r: 4rem;) {
	padding-top: @t;
	padding-bottom: @b;
	padding-left: @l;
	padding-right: @r;
}